# Explore here SQL

In [1]:
# Importamos herramientas que necesitamos: os para trabajar con el sistema operativo,
# time para manejar tiempos, pandas para trabajar con tablas de datos, y algunas cosas
# de sqlalchemy para conectarnos y trabajar con bases de datos.
import os
import time
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
# Cargamos las variables de entorno desde un archivo .env.
# Las variables de entorno son como secretos o configuraciones que guardamos aparte.
load_dotenv()
# Creamos una cadena de conexión para la base de datos usando las variables de entorno.
# Es como una dirección para decirle a Python cómo encontrar y conectarse a la base de datos.
connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
# Creamos un 'motor' para conectarnos a la base de datos. Es como un carro que nos lleva a la base de datos.
engine = create_engine(connection_string, echo=True)  # echo=True mostrará las consultas SQL ejecutadas
# Intentamos hacer varias cosas con la base de datos, pero si algo sale mal, lo diremos.
try:
    # Conectamos a la base de datos usando nuestro 'motor'.
    with engine.connect() as connection:
        print("Base de datos conectada.")
        # Intentamos crear tablas en la base de datos usando un archivo .sql.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para crear las tablas.
            filepath = '/workspaces/connecting-to-a-sql-database-project-tutorial/src/sql/create.sql'
            # Abrimos el archivo y leemos lo que dice.
            with open(filepath, 'r') as f:
                sql_script = f.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Tablas creadas exitosamente.")
        # Si algo sale mal al crear las tablas, lo decimos.
        except Exception as e:
            print(f"Error al crear las tablas: {str(e)}")
        # Esperamos un poquito para asegurarnos de que las tablas estén listas antes de seguir.
        time.sleep(1)
        # Ahora intentamos poner datos en las tablas.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para poner los datos.
            insert_sql_path = '/workspaces/connecting-to-a-sql-database-project-tutorial/src/sql/insert.sql'
            # Abrimos ese archivo y leemos lo que dice.
            with open(insert_sql_path, 'r') as f:
                insert_sql_script = f.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in insert_sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Datos insertados con éxito.")
        # Si algo sale mal al poner los datos, lo decimos.
        except Exception as e:
            print(f"Error al insertar datos: {str(e)}")
        # Esperamos un poquito para asegurarnos de que los datos estén listos antes de seguir.
        time.sleep(1)
        # Ahora intentamos borrar las tablas.
        try:
            # Decimos dónde está el archivo que tiene las instrucciones para borrar las tablas.
            drop_sql_path = '/workspaces/connecting-to-a-sql-database-project-tutorial/src/sql/drop.sql'
            # Abrimos ese archivo y leemos lo que dice.
            with open(drop_sql_path, 'r') as file:
                drop_sql_script = file.read()
            # Ejecutamos cada instrucción en el archivo, una por una.
            for statement in drop_sql_script.split(';'):
                if statement.strip():  # Nos aseguramos de que la instrucción no esté vacía.
                    connection.execute(text(statement))
            print("Tablas eliminadas con éxito.")
        # Si algo sale mal al borrar las tablas, lo decimos.
        except Exception as e:
            print(f"Error al eliminar tablas: {str(e)}")
        # Ahora intentamos ver los datos en una de las tablas.
        try:
            # Escribimos la instrucción para pedir todos los datos de la tabla 'publishers'.
            query = "SELECT * FROM publishers;"
            # Usamos pandas, que es bueno para trabajar con tablas, para obtener los datos y mostrarlos.
            df_publishers = pd.read_sql(query, connection)
            # Mostramos los datos en la pantalla.
            print("Tabla PUBLISHERS:")
            df_publishers = pd.DataFrame(df_publishers)
            print(df_publishers)
        # Si algo sale mal al intentar ver los datos, lo decimos.
        except Exception as e:
            print(f"Error al leer los datos: {str(e)}")
# Si algo sale mal al intentar conectarnos a la base de datos en general, lo decimos.
except Exception as e:
    print(f"No se puede conectar a la base de datos: {str(e)}")

2024-01-25 22:38:15,533 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-01-25 22:38:15,534 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-25 22:38:15,568 INFO sqlalchemy.engine.Engine select current_schema()
2024-01-25 22:38:15,569 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-25 22:38:15,571 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-01-25 22:38:15,572 INFO sqlalchemy.engine.Engine [raw sql] {}
Base de datos conectada.
2024-01-25 22:38:15,574 INFO sqlalchemy.engine.Engine CREATE TABLE publishers(
    publisher_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    PRIMARY KEY(publisher_id)
)
2024-01-25 22:38:15,575 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
2024-01-25 22:38:15,664 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:15,674 INFO sqlalchemy.engine.Engine

CREATE TABLE authors(
    author_id INT NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(50) NULL,
    last_name VARCHAR(100) NULL,
    PRIMARY KEY(author_id)
)
2024-01-25 22:38:15,675 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {}
2024-01-25 22:38:15,692 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:15,700 INFO sqlalchemy.engine.Engine

CREATE TABLE books(
    book_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    total_pages INT NULL,
    rating DECIMAL(4, 2) NULL,
    isbn VARCHAR(13) NULL,
    published_date DATE,
    publisher_id INT NULL,
    PRIMARY KEY(book_id),
    CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
)
2024-01-25 22:38:15,700 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
2024-01-25 22:38:15,718 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:15,727 INFO sqlalchemy.engine.Engine

CREATE TABLE book_authors (
    book_id INT NOT NULL,
    author_id INT NOT NULL,
    PRIMARY KEY(book_id, author_id),
    CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
)
2024-01-25 22:38:15,728 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {}
2024-01-25 22:38:15,747 INFO sqlalchemy.engine.Engine COMMIT
Tablas creadas exitosamente.
2024-01-25 22:38:16,756 INFO sqlalchemy.engine.Engine -- publishers
INSERT INTO publishers(publisher_id, name) VALUES (1, 'O Reilly Media')
2024-01-25 22:38:16,757 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
2024-01-25 22:38:16,761 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (2, 'A Book Apart')
2024-01-25 22:38:16,762 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-01-25 22:38:16,763 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,773 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (3, 'A K PETERS')
2024-01-25 22:38:16,773 INFO sqlalchemy.engine.Engine [generated in 0.00063s] {}
2024-01-25 22:38:16,775 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,782 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (4, 'Academic Press')
2024-01-25 22:38:16,783 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-01-25 22:38:16,783 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,791 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (5, 'Addison Wesley')
2024-01-25 22:38:16,792 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
2024-01-25 22:38:16,793 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,801 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (6, 'Albert&Sweigart')
2024-01-25 22:38:16,801 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
2024-01-25 22:38:16,802 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,810 INFO sqlalchemy.engine.Engine
INSERT INTO publishers(publisher_id, name) VALUES (7, 'Alfred A. Knopf')
2024-01-25 22:38:16,810 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {}
2024-01-25 22:38:16,811 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,819 INFO sqlalchemy.engine.Engine

-- authors
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (1, 'Merritt', null, 'Eric')
2024-01-25 22:38:16,819 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-01-25 22:38:16,821 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (2, 'Linda', null, 'Mui')
2024-01-25 22:38:16,822 INFO sqlalchemy.engine.Engine [generated in 0.00109s] {}
2024-01-25 22:38:16,823 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,831 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (3, 'Alecos', null, 'Papadatos')
2024-01-25 22:38:16,832 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
2024-01-25 22:38:16,833 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,840 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (4, 'Anthony', null, 'Molinaro')
2024-01-25 22:38:16,841 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
2024-01-25 22:38:16,841 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,851 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (5, 'David', null, 'Cronin')
2024-01-25 22:38:16,852 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {}
2024-01-25 22:38:16,854 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,863 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (6, 'Richard', null, 'Blum')
2024-01-25 22:38:16,865 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {}
2024-01-25 22:38:16,865 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,873 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (7, 'Yuval', 'Noah', 'Harari')
2024-01-25 22:38:16,873 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {}
2024-01-25 22:38:16,874 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,884 INFO sqlalchemy.engine.Engine
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (8, 'Paul', null, 'Albitz')
2024-01-25 22:38:16,885 INFO sqlalchemy.engine.Engine [generated in 0.00187s] {}
2024-01-25 22:38:16,886 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,894 INFO sqlalchemy.engine.Engine

-- books
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5)
2024-01-25 22:38:16,895 INFO sqlalchemy.engine.Engine [generated in 0.00152s] {}
2024-01-25 22:38:16,898 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (2, 'Facing the Intelligence Explosion', 91, 3.87, null, '2013-02-01', 7)
2024-01-25 22:38:16,899 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-01-25 22:38:16,900 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,908 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (3, 'Scala in Action', 419, 3.74, '9781940000000', '2013-04-10', 1)
2024-01-25 22:38:16,909 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {}
2024-01-25 22:38:16,910 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,918 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (4, 'Patterns of Software: Tales from the Software Community', 256, 3.84, '9780200000000', '1996-08-15', 1)
2024-01-25 22:38:16,918 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
2024-01-25 22:38:16,919 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,926 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (5, 'Anatomy Of LISP', 446, 4.43, '9780070000000', '1978-01-01', 3)
2024-01-25 22:38:16,927 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
2024-01-25 22:38:16,927 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,935 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (6, 'Computing machinery and intelligence', 24, 4.17, null, '2009-03-22', 4)
2024-01-25 22:38:16,936 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {}
2024-01-25 22:38:16,937 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,945 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (7, 'XML: Visual QuickStart Guide', 269, 3.66, '9780320000000', '2009-01-01', 5)
2024-01-25 22:38:16,946 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-01-25 22:38:16,947 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,954 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (8, 'SQL Cookbook', 595, 3.95, '9780600000000', '2005-12-01', 7)
2024-01-25 22:38:16,955 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-01-25 22:38:16,956 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,963 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (9, 'The Apollo Guidance Computer: Architecture And Operation (Springer Praxis Books / Space Exploration)', 439, 4.29, '9781440000000', '2010-07-01', 6)
2024-01-25 22:38:16,964 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {}
2024-01-25 22:38:16,965 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,972 INFO sqlalchemy.engine.Engine
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (10, 'Minds and Computers: An Introduction to the Philosophy of Artificial Intelligence', 222, 3.54, '9780750000000', '2007-02-13', 7)
2024-01-25 22:38:16,973 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {}
2024-01-25 22:38:16,974 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,982 INFO sqlalchemy.engine.Engine

-- book authors
INSERT INTO book_authors (book_id, author_id) VALUES (1, 1)
2024-01-25 22:38:16,982 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
2024-01-25 22:38:16,986 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (2, 8)
2024-01-25 22:38:16,986 INFO sqlalchemy.engine.Engine [generated in 0.00069s] {}
2024-01-25 22:38:16,987 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:16,998 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (3, 7)
2024-01-25 22:38:16,998 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-01-25 22:38:16,999 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,007 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (4, 6)
2024-01-25 22:38:17,007 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2024-01-25 22:38:17,008 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,016 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (5, 5)
2024-01-25 22:38:17,016 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-01-25 22:38:17,017 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,025 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (6, 4)
2024-01-25 22:38:17,026 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {}
2024-01-25 22:38:17,027 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,035 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (7, 3)
2024-01-25 22:38:17,035 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {}
2024-01-25 22:38:17,036 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,044 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (8, 2)
2024-01-25 22:38:17,045 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-01-25 22:38:17,045 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,052 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (9, 4)
2024-01-25 22:38:17,053 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-01-25 22:38:17,054 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:17,062 INFO sqlalchemy.engine.Engine
INSERT INTO book_authors (book_id, author_id) VALUES (10, 1)
2024-01-25 22:38:17,062 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-01-25 22:38:17,063 INFO sqlalchemy.engine.Engine COMMIT
Datos insertados con éxito.
2024-01-25 22:38:18,072 INFO sqlalchemy.engine.Engine DROP TABLE book_authors
2024-01-25 22:38:18,073 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
2024-01-25 22:38:18,097 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:18,108 INFO sqlalchemy.engine.Engine

DROP TABLE books
2024-01-25 22:38:18,108 INFO sqlalchemy.engine.Engine [generated in 0.00063s] {}
2024-01-25 22:38:18,110 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:18,118 INFO sqlalchemy.engine.Engine

DROP TABLE authors
2024-01-25 22:38:18,119 INFO sqlalchemy.engine.Engine [generated in 0.00074s] {}
2024-01-25 22:38:18,120 INFO sqlalchemy.engine.Engine COMMIT
2024-01-25 22:38:18,128 INFO sqlalchemy.engine.Engine

DROP TABLE publishers
2024-01-25 22:38:18,128 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {}
2024-01-25 22:38:18,132 INFO sqlalchemy.engine.Engine COMMIT
Tablas eliminadas con éxito.
2024-01-25 22:38:18,142 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2024-01-25 22:38:18,142 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {'name': 'SELECT * FROM publishers;'}
2024-01-25 22:38:18,144 INFO sqlalchemy.engine.Engine SELECT * FROM publishers;
2024-01-25 22:38:18,145 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-25 22:38:18,146 INFO sqlalchemy.engine.Engine ROLLBACK
Error al leer los datos: (psycopg2.errors.UndefinedTable) relation "publishers" does not exist
LINE 1: SELECT * FROM publishers;
                      ^

[SQL: SELECT * FROM publishers;]
(Background on this error at: https://sqlalche.me/e/14/f405)